<div class="inner-pages-bnr">
    <img src="./assets/images/microsoftBG1.jpg" class="img-responsive" alt="about-banner-image">
    
</div>

<section>
        <div class="yellow-background solution-available text-center">
            <div class="container">
                <h5>
                    <span>Microsoft</span>
                </h5>
            </div>
        </div>
    </section>


<!--============ our SAP start  ===============-->
<section class="pad100-70-top-bottom">
    <div class="container">
        <div class="row ">
            <div class="head-section wdt-100">
                <div class="col-lg-5 col-md-6 col-sm-4 col-xs-12">
                    <img src="./assets/images/microsoft.jpg" class="img-responsive" alt="news-image">
                </div>
                <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12">
                    <p class="fnt-18">Microsoft is committed to creating and delivering technology that empowers people to achieve more at school, at work and in their personal lives. <br/>Microsoft is working hard to ensure their products are designed with accessibility in
                        mind and provide a great user experience for individuals of all abilities. <br/>Microsoft’s mission is to empower every person and every organization on the planet to achieve more.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========Servie Left Start============-->
<div class="container">
    <div class="row"></div>
    <div class="col-md-12">
        <div class="service-tab-box">
            <div class="tabmenu-box">
                <ul class="tab-menu">
                    <li data-tab-name="office365" class="active"><span>OFFICE 365</span></li>
                </ul>
            </div>
            <div class="tab-content-box">
                <div class="single-tab-content" id="office365" style="display: block;">
                    <div class="top-content">
                        <p>This application is your go-to Office-anywhere. Whether you’re working in your office or on the go, you get a familiar, top-of-the-line set of productivity tools. Office applications —always the latest versions—let you create,
                            edit, and share from your PC/Mac or your iOS, Android™, or Windows device with anyone in real time.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<br />
