<div class="inner-pages-bnr">
    <img src="../../assets/images/osmartimgLP.jpeg" class="img-responsive" alt="O-SmartHR-image">

</div>

<section>
    <div class="yellow-background solution-available text-center">
        <div class="container">
            <h5>
                <span>O-Smart HR</span>
            </h5>
        </div>
    </div>
</section>


<!--============ our sage start  ===============-->

<section class="pad100-70-top-bottom">
    <div class="container">
        <div class="row ">
            <div class="head-section wdt-100">
                <div class="col-lg-5 col-md-6 col-sm-4 col-xs-12">
                    <img src="../../assets/images/osmartlogo.jpeg" class="img-responsive" alt="O-Smart-logo">
                </div>
                <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12">
                    <p class="fnt-18">O-SmartHR is an all-in-one cloud solution designed for Human Resources Management. It is built to manage Core HR processes – Employee Records, Key Performance Indexes (KPIs), Goals Tracking, Appraisals, 3600 reviews, Leave Management,
                        Payroll (salaries and commissions).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>





<!--=========sage start============-->

<div class="container">
    <div class="row"></div>
    <div class="col-md-12">
        <div class="service-tab-box">
            <div class="tabmenu-box">
                <ul class="tab-menu">
                    <li data-tab-name="sage300" class="active"><span>O-SmartHR</span></li>
                </ul>
            </div>
            <div class="tab-content-box">
                <div class="single-tab-content" id="sage300" style="display: block;">
                    <div class="top-content">
                        <p>
                            Managing all HR information manually is time consuming and results in additional costs. O-SmartHR is built with the power of next generation SAP Human Resources system designed to make life easier and your people more effective. <br/>                            <br/> O-SmartHR enhances employee’ user experience in the moments that matter throughout their journey. It also has a localized payroll specifically for the West Africa’s unique needs to process and manage employees’ salaries,
                            loans, commissions, local, state and federal tax deductions <br/> Your business benefits from real-time analytics and comprehensive reporting to ensure you always stay compliant and, because it’s centralized, and automated,
                            growing your people into better versions of themselves – and remunerating them for their growth - has never been easier. <br/> <br/> The implementation duration is 12 weeks depending on the complexity of your business processes.
                            Our experienced in-house consultants are available to support your organization before, during and after you start using the O-SmartHR Solution.<br/> <br/>Prices start from<b> N2991.94 per user per month (terms and conditions apply) </b>while
                            the minimum number of users is <b> 30 users</b>. The O-SmartHR platform will transform your life, your people, and your business.
                        </p>
                        <br/>
                        <div class="container">
                            <div class="col-12 text-right">
                                <img class="sapimg col-12 text-right" src="../../assets/images/SAP_Qualified_PartnerPackageSolution_R.png" alt="sap partner logo">
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<br />
<!--=========sage end============-->

<!--oryx vedio start-->
<div class="container">

    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jcYY7QQ4Lxk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


</div>