<!--=========Footer Start============-->
<footer>

    <div class="ftr-section">
        <div class="container">
            <ul class="footer-info">
                <li class="ftr-loc whi">
                    <a href="https://goo.gl/maps/7ZhWwpbznqz">101B, Ikeja way, Dolphin <br />Estate, Ikoyi, Lagos</a>
                </li>
                <li class="ftr-phn">01-453-8206</li>
                <li class="ftr-msg whi"><a href="mailto:developer3@oryx-wa.com">info@oryx-wa.com</a></li>

            </ul>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12  ftr-about-text">
                    <h6>About Us</h6>
                    <p class="marbtm20 line-height26">
                        Oryx Computer Systems (W/A) Limited also known as "Oryx Africa"is a business consultancy company. Since inception in 2004, Oryx has garnered the trust of the market leaders and is constantly unlocking world class best practice to companies.
                    </p>
                    <a class="ftr-read-more" routerLink="/about">Read More</a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 ftr-sol-column">
                    <h6>Our Solutions</h6>
                    <ul class="footer-link">
                        <li>
                            <a routerLink="/oryxSolutions">- Oryx Solutions</a>
                        </li>
                        <li>
                            <a href="../solutions/sap.html">- SAP</a>
                        </li>
                        <li>
                            <a href="../solutions/sage.html">- SAGE</a>
                        </li>
                        <li>
                            <a href="../solutions/microsoft.html">- MICROSOFT</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 ftr-link-column">
                    <!-- <h6>Quick Links</h6>
                    <ul class="footer-link">
                        <li>
                            <a href="../solutions/about.html">- About Us</a>
                        </li>
                        <li>
                            <a href="../solutions/testimonial.html">- Testimonials</a>
                        </li>
                        <li>
                            <a href="../solutions/faq.html">- FAQ</a>
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 ftr-follow-column pull-right">
                    <!-- <h6></h6><img src="./assets/images/oryx-logoW.png" class="img-responsive" alt="logo-image">
                    <div class="header-socials footer-socials">
                        <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                    </div> -->
                    <!-- <span class="ftr-logo img">
             <img src="./assets/images/oryx-hr-g.png" class="img-responsive" alt="logo-image">
            </span> -->
                </div>
            </div>
            <div class="footer-btm">
                <div class="col-md-6 col-sm-6 col-xs-12 pad-left_zero pad-right_zero">
                    <p>Copyright © 2018 Oryx Africa.</p>
                </div>

            </div>
        </div>
    </div>
</footer>
<!--=========Footer end============-->