<div class="inner-pages-bnr">
    <img src="./assets/images/home1-images/5Banner1.jpg" class="img-responsive" alt="about-banner-image">
    <div class="banner-caption">
        
        <!-- <ul class="breadcumb">
                    <li><a href="#">Home</a> - </li>
                    <li>About Us</li>
                </ul> -->
    </div>
</div>

<section>
    <div class="yellow-background solution-available text-center">
        <div class="container">
            <h5>
                <span>About us</span>
            </h5>
        </div>
    </div>
</section>




<div class="container">
    <div>
        <p style="color:white">`</p>
    </div>
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bestthing-text-column">
            <h3>why choose us</h3>
            <p class="fnt-10">Oryx Computer Systems (W/A) Limited also known as "Oryx Africa"​is a business consultancy
                company. Since inception in 2004, Oryx has garnered the trust of the market leaders and is constantly
                unlocking world class best practice to companies.
                Its unparalleled approach has witnessed success stories from start-ups to growing and sophisticated
                ones; from wholesale distribution, high-end retail items, and professional services to complex
                manufacturing, engineering and construction
                operations. Our expertise cuts across several industries - Engineering Construction and operations, Oil
                and Gas, Logistics, Food and Beverages, Advertisement, Wholesale distribution, Manufacturing,
                Pharmaceuticals and more. We are proud
                to be partners in progress with several world class companies- SAP, Sage and Microsoft.
            </p>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bestthing-text-column">
            <img src="./assets/images/home1-images/8.jpg" class="img-responsive" alt="choose-image"
                style="margin-bottom:10px">
        </div>
    </div>
</div>