<div class="inner-pages-bnr">
  <img src="./assets/images/home1-images/banner31.png" class="img-responsive" alt="about-banner-image">

</div>
<section>
  <div class="yellow-background solution-available text-center">
    <div class="container">
      <h5>
        <span>Oryx Solutions</span>
      </h5>
    </div>
  </div>
</section>



<!--============ our SAP start  ===============-->
<section class="pad100-70-top-bottom ">
  <div class="container ">
    <div class="row ">
      <div class="head-section wdt-100 ">
        <div class="col-lg-5 col-md-6 col-sm-4 col-xs-12 ">
          <img src="./assets/images/oryx-logo.png" class="img-responsive " alt="news-image ">
        </div>
        <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 ">
          <p class="fnt-18 ">Oryx Computer Systems (W/A) Limited also known as "Oryx Africa"​is a business consultancy
            company. Since inception in 2004, Oryx has garnered the trust of the market leaders and is constantly
            unlocking world class best practice to companies.<br/>
            Its unparalleled approach has witnessed success stories from start-ups to growing and sophisticated
            ones; from wholesale distribution, high-end retail items, and professional services to complex
            manufacturing, engineering and construction
            operations.</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!--=========Servie Left Start============-->
<div class="container">
  <div class="row"></div>
  <div class="col-md-12">
    <div class="service-tab-box">
      <div class="tabmenu-box">
        <ul class="tab-menu">
          <li data-tab-name="sapb1" class="active"><span>Oryx Payroll™</span></li>
          <li data-tab-name="successF" class=""><span>Oryx HR™</span></li>
          <li data-tab-name="sapbyd" class=""><span>Oryx AIT™ (Action Incident Tracker)</span></li>
        </ul>
      </div>
      <div class="tab-content-box">
        <div class="single-tab-content" id="sapb1" style="display: block;">
          <div class="top-content">
            <p>This payroll was developed in-house by Oryx West Africa from the scratch. Oryx Payroll is a full-fledged
              payroll application that provides all that is required to process employees’ payroll.
              <br /> The key features include:
            </p>
            <ul>
              <li>Creating as many employee wage information as required with salary history.</li>
              <li>Multiple payroll runs.</li>
              <li>Loan calculation</li>
              <li>Tax calculation</li>
              <li>Update of SAP Business One GL with payroll output.</li>
              <li>Multi-Currency assignment of wage information.</li>
              <li>Custom Reports</li>
              <li>Production</li>
              <li>Maintain casual worker payments.</li>
              <li>Salary advance pay-out and deductions.</li>
              <li>Pension calculation</li>
              <li>And much more</li>
            </ul>
          </div>
        </div>
        <div class="single-tab-content" id="successF" style="display: none;">
          <div class="top-content">
            <p>Oryx HR Solution is a very flexible and evolving software that will help your organization manage your
              most important resource - your employees. It will effectively engage and empower the entire workforce
              including human resources managers and the entire employees.
              <br />It is created with the end users in mind,
              allowing organizations to provide managers and employees a full view of the organization and how they fit
              into the general structure.
              <br />
            </p>

          </div>
        </div>
        <div class="single-tab-content" id="sapbyd" style="display: none;">
          <div class="top-content">
            <p>
              As the name implies, this solution is used to track actions and incidences.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<br />
<!--=========Servie Right end============-->