<Section class="section-padding" id="portfolio">
    <div class="container">

        <!-- title text-->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">
                    <span class="decorate">2012</span> INLAkS Event
                </h2>
            </div>
        </div>
        <!--image grid-->
        <div class="container">
            <div class="grid-padding" id="my-grid">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday1.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday1.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday2.png" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday2.png" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday3.png" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday3.png" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday4.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday4.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday5.png" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday5.png" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday6.png" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday6.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday7.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday7.png" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday8.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday8.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday50.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday50.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday9.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday9.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday10.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday10.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday11.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday11.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday12.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday12.jpg" />
                            </a>
                        </div>

                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday13.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday13.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday14.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday14.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday15.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday15.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday16.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday16.jpg" />
                            </a>
                        </div>
                        <div class="row ">
                            <a href="assets/images/oryx-day-event/eventday17.jpg" data-lightbox="myGallery " data-title="2012 inlaks event ">
                                <img class="fit-image" src="assets/images/oryx-day-event/eventday17.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>










<!-- <div id="my-modal" class="modal">

    <span class="close" onclick="closeModal()">&times;</span>


    <div class="modal-content">
        <div class="my-slides">
            <div class="numbertext">1 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0057.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">2 / 15 </div>
            <img src="assets/images/L-C-C/20181221_102859.jpg" class="landscape-image">
        </div>

        <div class="my-slides">
            <div class="numbertext">3 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0045.jpg" class="portrait-image">
        </div>

        <div class="my-slides">
            <div class="numbertext">4 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0056.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">5 / 15 </div>
            <img src="assets/images/L-C-C/20181221_102859.jpg" class="landscape-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">6 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0057.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">7 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0045.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">8 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0056.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">9 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0056.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">10 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0041.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">11 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0045.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">12 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0056.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">13 / 15 </div>
            <img src="assets/images/L-C-C/20181221_102859.jpg" class="landscape-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">14 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0056.jpg" class="portrait-image">
        </div>
        <div class="my-slides">
            <div class="numbertext">15 / 15 </div>
            <img src="assets/images/L-C-C/IMG-20181221-WA0051.jpg" class="portrait-image">
        </div>

        <a class="prev" onclick="changeSlides(-1)">&#10094;</a>
        <a class="next" onclick="changeSlides(1)">&#10095;</a>
    </div>

</div>
-->










<!-- <div>
    <p>`</p>
</div> -->
