<div class="inner-pages-bnr">
    <img src="./assets/images/sapBG1.jpg" class="img-responsive" alt="about-banner-image">

</div>
<section>
    <div class="yellow-background solution-available text-center">
        <div class="container">
            <h5>
                <span>SAP</span>
            </h5>
        </div>
    </div>
</section>



<!--============ our SAP start  ===============-->
<section class="pad100-70-top-bottom ">
    <div class="container ">
        <div class="row ">
            <div class="head-section wdt-100 ">
                <div class="col-lg-5 col-md-6 col-sm-4 col-xs-12 ">
                    <img src="./assets/images/sapN.png " class="img-responsive " alt="news-image ">
                </div>
                <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 ">
                    <p class="fnt-18 ">SAP is at the center of today’s technology revolution. The market leader in enterprise application software, SAP helps organizations manage damaging effects of complexity, generate new opportunities for innovation and growth, and stay
                        ahead of the competition. <br />SAP helps you streamline your processes, giving you the agility to create new growth opportunities for your business with the world’s most innovative platform.  Oryx is a reseller of the following
                        SAP Products such as:
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!--=========Servie Left Start============-->
<div class="container">
    <div class="row"></div>
    <div class="col-md-12">
        <div class="service-tab-box">
            <div class="tabmenu-box">
                <ul class="tab-menu">
                    <li data-tab-name="sapb1" class="active"><span>SAP BUSINESS ONE</span></li>
                    <li data-tab-name="successF" class=""><span>SAP SUCCESSFACTORS</span></li>
                    <li data-tab-name="sapbyd" class=""><span>SAP BUSINESS BYDESIGN</span></li>
                </ul>
            </div>
            <div class="tab-content-box">
                <div class="single-tab-content" id="sapb1" style="display: block;">
                    <div class="top-content">
                        <p>An affordable, easy to implement, integrated business management solution. Designed exclusively for SMEs, it ensures company growth, helps increase profitability and control, and automates business processes.
                            <br /> This total solution comprises all the core functions needed to run growing emerging business including:
                        </p>
                        <ul>
                            <li>Administration</li>
                            <li>Financial accounting </li>
                            <li>Banking</li>
                            <li>Sales</li>
                            <li>Purchasing</li>
                            <li>Customer Relationship Management</li>
                            <li>Stock Control</li>
                            <li>Production</li>
                            <li>Material Resource Planning</li>
                            <li>Reporting</li>
                        </ul>
                    </div>
                </div>
                <div class="single-tab-content" id="successF" style="display: none;">
                    <div class="top-content">
                        <p>This is a Human Resources Management solution that delivers business results by driving business alignment, optimizing people performance and building competitive advantage through people.
                            <br /> SAP SuccessFactors solution differentiates itself in the following ways:
                        </p>
                        <ul style="text-align:left">
                            <li>Manage employees with a global system of record.</li>
                            <li>Provides functionality for complete HR transactions.</li>
                            <li>Create and manipulate foundation objects.</li>
                            <li>Generate reports with powerful analytics.</li>
                            <li>Capture all employee data in one place.</li>
                            <li>Combine all talent data for a more comprehensive and insightful employee profile.</li>
                            <li>Enables better, more strategic workforce decisions.</li>
                            <li>Correlate your employee and talent data with data from other enterprise systems.</li>
                        </ul>
                    </div>
                </div>
                <div class="single-tab-content" id="sapbyd" style="display: none;">
                    <div class="top-content">
                        <p>This cloud-based ERP solution connects every function across your company to time-tested best practices and in-depth analytics. You’ll get the foundation to scale and compete without the complexity and cost, so you can grow your
                            business your way.
                            <br /> SAP Business ByDesign solution will provide your company with the following:
                        </p>
                        <ul style="text-align:left">
                            <li>Powerful analytics and role-based dashboards to improve decision making.</li>
                            <li>Integration across functional silos for a single source of truth.</li>
                            <li>A flexible, adaptable cloud-based software system that expands with your business.</li>
                            <li>Mobile solutions for managing your business and improving customer service anytime, anywhere.
                            </li>
                            <li>Finance</li>
                            <li>Customer Relationship Management </li>
                            <li>Human Resources</li>
                            <li>Procurement</li>
                            <li>Supply Chain Management</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br />
<!--=========Servie Right end============-->




<!-- <div class="container">

    <ol class="breadcrumb arr-bread">

        <li class="active"><a href="#sapb1">SAP BUSINESS ONE</a></li>

        <li><a href="successF">SAP SUCCESSFACTORS</a></li>

        <li><span>SAP BUSINESS BYDESIGN</span></li>
    </ol>

    
    



</div> -->