<div class="inner-pages-bnr">
    <img src="../../assets/images/sageLPimg.jpeg" class="img-responsive" alt="about-banner-image">

</div>

<section>
    <div class="yellow-background solution-available text-center">
        <div class="container">
            <h5>
                <span>Sage</span>
            </h5>
        </div>
    </div>
</section>


<!--============ our sage start  ===============-->

<section class="pad100-70-top-bottom">
    <div class="container">
        <div class="row ">
            <div class="head-section wdt-100">
                <div class="col-lg-5 col-md-6 col-sm-4 col-xs-12">
                    <img src="./assets/images/sage logo.png" class="img-responsive" alt="news-image">
                </div>
                <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12">
                    <p class="fnt-18">Sage strengthens businesses, encourages their success, growth and further assisting the communities in which they operate. <br/>Using smart, innovative technology derived from the imaginations of their people, they have reimagined
                        business – inspiring clients and customers to fulfil their dreams with technology and their experience.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>





<!--=========sage start============-->

<div class="container">
    <div class="row"></div>
    <div class="col-md-12">
        <div class="service-tab-box">
            <div class="tabmenu-box">
                <ul class="tab-menu">
                    <li data-tab-name="sage300" class="active"><span>SAGE 300</span></li>
                    <li data-tab-name="sagex3" class=" "><span>SAGE X3 PEOPLE</span></li>
                </ul>
            </div>
            <div class="tab-content-box">
                <div class="single-tab-content" id="sage300" style="display: block;">
                    <div class="top-content">
                        <p>Sage 300 gives business wide visibility over financial, operational, sales, and customer service departments, with customized dashboards, reporting and business intelligence options.</p>
                        <ul>
                            <li>BMS for medium to large businesses</li>
                            <li>Access transactional data anytime, anywhere</li>
                            <li>Improve productivity with real-time key performance indicators and Visual Process Flows</li>
                        </ul>
                    </div>
                </div>
                <div class="single-tab-content" id="sagex3" style="display: none;">
                    <div class="top-content">
                        <p>Sage X3 People seamlessly and conveniently integrates with Sage X3 – a perfect synergy for mid- and enterprise-size companies wanting to manage employee cost while gaining visibility and efficiency. Sage X3 People gives you complete
                            HR management in one solution, integrating the HR function with the business management of Sage X3.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br />
<!--=========sage end============-->
