/* You can add global styles to this file, and also import other style files */

//sticky right bar fixed
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 10px;
}

.icon-bar a:hover {
    background-color: #012560;
}

.facebook {
    background: #012560;
    color: white;
}

.icon-bar a p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

// Contact us address link style
em,
p {
    font-size: 1rem;
    font-weight: 300;
    color: #242424;
}

em>a,
p>a {
    color: #242424;
}

.black>a {
    color: black;
}

em>a:hover,
p>a:hover {
    color: #13b1cd;
}

// fnt-N18
.fnt-N18 {
    font-size: 18px;
    text-align: center;
}

// breadcrumbs color
light-font .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.light-font .breadcrumb-item.active {
    color: #cfd8dc;
}

.arr-bread {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #D5DAE1
}

.arr-bread li,
.arr-bread li a,
.arr-bread li span {
    display: inline-block;
    vertical-align: top
}

.arr-bread li:not(:first-child) {
    margin-left: 0px
}

.arr-bread li+li:before {
    padding: 0;
    content: ""
}

.arr-bread li span {
    padding: 0 10px
}

.arr-bread li a,
.arr-bread li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}

.arr-bread li:first-child a {
    padding: 0 10px
}

.arr-bread li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #DC3545;
    border: 1px solid #FFFF00
}

.arr-bread li:first-child a {
    padding-left: 10px
}

.arr-bread li a:after,
.arr-bread li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}

.arr-bread li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #DF4454;
    border-left-style: solid;
    border-left-width: 11px
}

.arr-bread li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #FFFF00
}

.arr-bread li a:focus,
.arr-bread li a:hover {
    background-color: #BD2130;
    border: 1px solid #BD2130
}

.arr-bread li a:focus:before,
.arr-bread li a:hover:before {
    border-left-color: #BD2130
}

.arr-bread li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}

.arr-bread li a:active:after,
.arr-bread li a:active:before {
    border-left-color: #2494be
}

.sapimg {
    max-width: 10rem;
    max-height: 10rem;
}

.text-right {
    margin-right: 3rem !important;
}
